html {
    height: 100%;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
}

body {
    height: 100%;
    background-color: #fff;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

[x-cloak] {
    display: none !important;
}

#game {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#game .message {
    position: absolute;
    left: 50%;
    top: 80px;
    color: #fff;
    background-color: #000;
    padding: 16px 20px;
    z-index: 2;
    border-radius: 4px;
    transform: translate(-50%);
    transition: opacity .3s ease-out;
    font-weight: 600;
    text-align: center;
}

#game .message button {
    margin-top: 10px;
}

#game header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    color: #1a1a1b;
    border-bottom: 1px solid #d3d6da;
    padding: 0 10px;
}

#game header .title {
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    pointer-events: none;
}

#game header .github-link {
    width: 30px;
}

#board-container {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    overflow: hidden;
    justify-content: center;
}

#board-container-aspect {
    aspect-ratio: var(--columns, 5) / var(--rows, 5);
    max-width: min(380px, 100%);
    margin: 10%;
}

#board {
    display: grid;
    grid-template-rows: repeat(var(--rows, 5), 1fr);
    grid-template-columns: repeat(var(--columns, 5), 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

#board .tile {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    color: #1a1a1b;
    text-transform: uppercase;
    user-select: none;
}

#board .tile::before {
    content: '';
    display: inline-block;
    padding-bottom: 100%;
}

#board .tile[data-state='tbd'] {
    background-color: #ffffff;
    border: 2px solid #878a8c;
    color: #1a1a1b;
}

#board .tile[data-state='empty'] {
    border: 2px solid #d3d6da;
}

#board .tile[data-state='correct'] {
    background-color: #6aaa64;
}

#board .tile[data-state='present'] {
    background-color: #c9b458;
}

#board .tile[data-state='absent'] {
    background-color: #787c7e;
}

#keyboard {
    margin: 0 8px;
    user-select: none;
}

#keyboard .row {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

#keyboard button {
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 5px;
    margin: 0 6px 0 0;
    height: 58px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    background-color: #d3d6da;
    color: #1a1a1b;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}

#keyboard button[data-state='correct'] {
    background-color: #6aaa64;
}

#keyboard button[data-state='present'] {
    background-color: #c9b458;
}

#keyboard button[data-state='absent'] {
    background-color: #787c7e;
}
